@charset "UTF-8";
#green input.form-control,
#amber input.form-control,
#green input[type="text"],
#amber input[type="text"],
#green input[type="password"],
#amber input[type="password"],
#green input[type="textarea"],
#amber input[type="textarea"],
#amber textarea,
#green textarea {
  background-color: #464646;
  color: #c8c8c8;
}

#green .nav-link {
  color: #1eff00;
}

#amber .nav-link {
  color: #ffc200;
}

#green.font2,
#amber.font2 {
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#green.font2,
#green.font2 .card,
#green.font2 small {
  color: #1eff00 !important;
}

#amber.font2,
#amber.font2 .card,
#amber.font2 small {
  color: #ffc200 !important;
}

#green .font_64 {
  color: #1eff00;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
  font-weight: 400;
  text-align: center;
}

#amber .font_64 {
  color: #ffc200;
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "BLED" 0, "SCAN" 0;
  font-weight: 400;
  text-align: center;
}

#green .searchHelpBlock {
  color: #1eff00 !important;
}

#amber .searchHelpBlock {
  color: #ffc200 !important;
}

#amber .create {
  background-color: #ffc200;
  color: black !important;
}

#green .create {
  background-color: #1eff00;
  color: black !important;
}

#amber .theme {
  background-color: #ffc200;
  color: black !important;
}

#green .theme {
  background-color: #1eff00;
  color: black !important;
}

#file.form-control {
  color: grey;
}

#amber .tableHeader {
  color: #ffc200;
}

#green .tableHeader {
  color: #1eff00;
}

#amber .tableRow {
  color: #ffc200;
}

#green .tableRow {
  color: #1eff00;
}

#green .dropdown-toggle {
  background-color: #1eff00;
  color: rgb(30, 30, 30);
}

#amber .dropdown-toggle {
  background-color: #ffc200;
  color: rgb(50, 50, 50);
}

.actionGroup {
  padding: 25px;
}

input::file-selector-button {
  background-color: rgb(70, 70, 70) !important;
  border-radius: 10px;
  border: thin solid grey;
  padding: 5 rem;
}

#root .card,
#root .navbar {
  background-color: rgb(30, 30, 30) !important;
}

body {
  background-color: rgb(50 50 50);
}

#root table th,
#root table td {
  background: rgb(50, 50, 50);
}
